<changelist name="TestNG" date="1563170553785" recycled="false">
  <option name="PATH" value="$PROJECT_DIR$/.idea/shelf/TestNG/shelved.patch" />
  <option name="DESCRIPTION" value="TestNG" />
  <binary>
    <option name="BEFORE_PATH" value="out/production/NinthLessonHomeWork/com/tests/SearchTaskTest.class" />
    <option name="AFTER_PATH" value="out/production/NinthLessonHomeWork/com/tests/SearchTaskTest.class" />
    <option name="SHELVED_PATH" value="$PROJECT_DIR$/.idea/shelf/TestNG/SearchTaskTest.class" />
  </binary>
</changelist>